.footer{
    width: 100%;
    height: 100%;
  }

  .footer, .text {
    color: gray;
    font-size: 0.5rem;
  }

.medias{
    display: flex;
    justify-content: space-around;
    padding: 5px 40%;
  }

@media (max-width: 599px) {
  html, body {
      font-size: 22px;
  }
}